/* Header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: $header-border-style;
  z-index: 2;
  min-width: 500px;

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: $header-size;
    background-color: $color-light;
    line-height: 70px;
    flex-wrap: wrap;

    &__wallet {
      border-left: $header-border-style;
    }

    &__amount-of-cash {
      margin: 0;
      font-weight: 700;
      opacity: 0.6;
      color: transparent;
      text-shadow: 0 0 1px $color-dark;
    }

    &__arrow-down {
      align-self: center;
      border-right: $header-border-style;
    }

    &__icon-notification {
      border-right: $header-border-style;
      position: relative;
      &::after {
        content: '';
        width: 7px;
        height: 7px;
        background-color: gold;
        position: absolute;
        border-radius: 50%;
        top: 35%;
        left: 50%;
      }
    }

    &__icon-personaldata {
      position: relative;
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        position: absolute;
        border-radius: 50%;
        top: 34%;
        left: 28%;
        border: 1px solid black;
        opacity: 0.5;

      }
    }

    &__author-name {
      color: blue;
      padding-left: 0;
      margin: 0;
      display:inline-block;
      margin: 0 10px 0 0;

    }
  }
}

/* Sidebar */
.icon-arrow-right {
  position: sticky;
  top: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
}
.icon-close {
  color: white;
  font-size: 0px;
}
.sidebar {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  background-color: $color-dark;
  min-width: 100px;
  z-index: 3;

  &__header {
    color: $color-light;
    display: inline-block;
    font-size: 1.5rem;
    font-family: $font-logo;
  }

  &__burger {
    color: $font-color;
    font-size: 1.5rem;
    &:hover {
      color: $color-light;
    }
  }

  &__list {
    list-style-type: none;
    color: $font-color;
    padding: 0 0 20px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    &__item {
      padding: 10px 0;
      min-width: 200px;
      position: relative;
      &::before {
        content: '';
        width: 2px;
        height: 0px;
        position: absolute;
        background-color: orange;
        top: 50%;
        left: 0;
        transition: $transition;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: $color-light;
      }
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
    &__item:hover::before {
      transform: translateY(-21.65px);
      height: 43.2px;
    }
  }
  &__manager {
    color: $font-color;
    text-align: center;
    letter-spacing: 1px;
  }
  &__photo {
    border-radius: 50%;
    background-size: cover;
    position: relative;
  }
  &__manager__wrapper{
    display: flex;
    justify-content: center;
    p {
      position: relative;
      color: $font-color;
      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-color: lime;
        position: absolute;
        border-radius: 50%;
        top: -58%;
        left: -16%;
        z-index: 2;
      }
    }
  }
}

/* Main content */

.main-wrapper {
  margin-left: 240px;
  margin-top: 100px;
  margin: 40px 10px 20px 225px;
  background-color: white;
  &__post {

    .article-header {
      color: $font-color-dark;
      border-bottom: $border-dark-style;
      padding: 10px 0 10px 20px;
      font-weight: $font-bold;
    }
    &__datePicker {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      border-bottom: $border-dark-style;
      .icon-calendar {
        vertical-align: middle;
        line-height: 40px;
        border: $border-dark-style;
        border-left: none;
        cursor: pointer;
      }
      &__refresh {
        color: $color-light;
        padding: 10px 15px;
        margin-left: 10px;
        background-color: orange;
        border-radius: $radius;
        transition: $transition;
        cursor: pointer;
        &:hover {
          background-color: $color-light;
          color: orange;
        }
      }

      input {
        border: $border-dark-style;
        position: relative;
        text-align: center;
        padding: 12px 5px;
        overflow: hidden;
        z-index: 0;
        &:nth-child(2){
          border-left: none;
          border-right: none;
        }
        &:focus {
          outline-width: 0;
        }
      }
    }
    &__details {
      display: flex;
      justify-content: space-around;
      align-content: center;
      flex-wrap: wrap;
      height: 200px;
      margin: 40px 0;
      p:nth-child(5){
          flex-basis: 84%;
          margin-top: 40px;
          color: $font-color-dark;
          font-weight: $font-bold;

        }
      &__list {
        flex-basis: 34%;
        color: $font-color;
        font-weight: $font-bold;
        display: flex;
        justify-content: space-between;
        border-bottom: $border-dark-style;
        span {
          color: black;
          font-weight: $font-semibold;
        }
      }
    }
    &__chart {
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      p:nth-child(2){
        flex-basis: 90px;
        &::after {
          background-color: lighten(orange, 20%);
        }
      }
      p:nth-child(3){
        flex-basis: 100px;
        background-color: $color-light;
        &::after {
          background-color: lighten(green, 20%);
        }
      }
      img {
        width: 85%;
        padding: 0 0 40px 0;
      }
      &__legend {
        flex-basis: 120px;
        padding: 8px 20px;
        background-color: lighten($color-dark, 70%);
        border-radius: $radius;
        text-align: center;
        position: relative;
        margin: 0 20px 40px 0;
        &::after {
        content: '';
          width: 15px;
          height: 15px;
          background-color: lighten(blue, 20%);
          position: absolute;
          border-radius: 50%;
          top: 32%;
          left: 10%;
        }
      }
    }
  }
}

.second-wrapper {
  margin-top: 20px;
  .main-wrapper__links__content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-basis: 100%;
    p:last-of-type {
      border-bottom: $border-dark-style;
    }
    &__btn {
      justify-content: center;
      flex-basis: 130px;
      text-align: center;
      margin: 40px auto 60px auto;
      padding: 10px;
      border-radius: $radius;
      text-decoration: none;
      cursor: pointer;
      border: 2px solid;
      background-position: 0% 100%;
      background-size: 250%;
      transition: $transition;
      border-color: orange;
      color: white;
      background-image: linear-gradient(45deg, orange 50%, transparent 50%);
      &:hover {
        color: orange;
        background-position: 100% 0%;
      }
    }
    &__link {
      flex-basis: 85%;
      display: flex;
      justify-content: center;
      border-top: $border-dark-style;
      color: $font-color;
      font-weight: $font-bold;
      height: 50px;
      line-height: 50px;
      margin: 0 auto 0 auto;
      transition: $transition;
      height: 60px;
      i:nth-child(3){
        color: orange;
      }
      &:hover {
        background-color: lighten($color-dark, 70%);
        color: lighten($color-dark, 10%)
      }
      &:hover .link-icon {
        transform: scale(1);
      }
      .link-name {
        flex-grow: 3;
        display: inline;
        margin-left: 20px;
        width: 100px;
      }
      .span-link {
        width: 150px;
      }
      span {
        flex-grow: 4;
        a {
          text-decoration: none;
          font-weight: $font-semibold;
        }
      }
      .link-icon {
        flex-grow: 0.5;
        transition: $transition;
        transform: scale(0);
      }
    }
  }
}

/* Media queries */
@media(min-width: 300px)and(max-width: 380px) {
  .header {
    &__wrapper {
      transform: translateX(-40px);
    }
  }
  .icon-close {
    font-size: 17px;
    color: white;
    transform: translate(32px, 1px);
    display: inline-block;
    cursor: pointer;
  }
}
@media(max-width: 576px){
  .main-wrapper{
    margin: -34px 0px 50px 0px;
    &__post {
      &__chart{
        &__legend {
          max-width: 70px;
          &::after {
            left: 2%;
          }
        }
      }
    }
  }
  .icon-close {
    font-size: 17px;
    color: white;
    transform: translate(32px, 1px);
    display: inline-block;
    cursor: pointer;
  }

  .link-name {
    font-size: 0.7rem;
    max-width: 80px;
  }
  .span-link {
    font-size: 0.6rem;
    overflow: hidden;
  }
  .link-icon {
    padding: 0 3px;
  }

  .header {
    bottom:0!important;
    top: initial;
    width: 100%;
    z-index: 4;
    min-width: 400px;
    height: 50px;
    &__wrapper {
      justify-content: center;
      height: 50px;
      line-height: 50px;
      flex-wrap: nowrap;

      &__wallet {
        padding: 0 5px;
        border-left: none;
        padding-left:0;
      }

      &__amount-of-cash {
        padding: 0 5px;
      }

      &__arrow-down {
        padding: 0 5px;
      }

      &__icon-notification {
        padding: 0 5px;
      }

      &__icon-personaldata {
        padding: 0 5px;
        &::after {
          left: 10%;
          top: 28%;
        }
      }

      &__icon-quit {
        padding-right: 10px;
      }

      &__author-name {
        padding: 0;
      }
    }
  }
  .sidebar {
    min-width: 100px;
    height: 100%;
    display: none;

    &__header {
      display: inline-block;
      font-size: 1rem;
      margin: 4px 0;
    }

    &__burger {
      font-size: 0px;
    }

    &__list {
      padding: 0 0 10px 5px;
      margin: 0;

      &__item {
        padding: 5px 0;
        min-width: 170px;
        font-size: 0.7rem;
        max-height: 23px;
      }
      &__item:hover::before {
        transform: translateY(-11.5px);
        height: 23px;
      }
    }
    &__manager {
      font-size: 0.7rem;
    }
  }
}
@media(min-width: 577px) and (max-width: 755px) {
  .icon-close {
    font-size: 17px;
    color: white;
    transform: translate(32px, 1px);
    display: inline-block;
    cursor: pointer;
  }
  .link-name {
    font-size: 0.7rem;
    min-width: 100px;
  }
  .header {
    bottom:0!important;
    top: initial;
    width: 100%;
    z-index: 4;
    min-width: 400px;
    height: 50px;
    &__wrapper {
      justify-content: center;
      height: 50px;
      line-height: 50px;
      flex-wrap: nowrap;

      &__wallet {
        padding: 0 5px;
        border-left: none;
      }

      &__amount-of-cash {
        padding: 0 5px;
      }

      &__arrow-down {
        padding: 0 5px;
      }

      &__icon-notification {
        padding: 0 5px;
      }

      &__icon-personaldata {
        padding: 0 5px;
        &::after {
          left: 10%;
          top: 28%;
        }
      }

      &__icon-quit {
        padding-right: 10px;
      }

      &__author-name {
        padding: 0 5px;
      }
    }
  }

  .main-wrapper{
    margin: -34px 0px 50px 0px;
  }

  .sidebar {
    min-width: 100px;
    display: none;
    z-index: 4;

    &__header {
      display: inline-block;
      font-size: 1rem;
      margin: 4px 0;
    }

    &__burger {
      font-size: 0px;
    }

    &__list {
      padding: 0 0 10px 5px;
      margin: 0;

      &__item {
        padding: 5px 0;
        min-width: 170px;
        font-size: 0.7rem;
        max-height: 23px;
      }
      &__item:hover::before {
        transform: translateY(-11.5px);
        height: 23px;
      }
    }
    &__manager {
      font-size: 0.7rem;
    }
  }
}
@media(min-width: 769px){

}
@media(min-width: 993px) {

}

@media(max-height: 300px) {
  .sidebar__manager__wrapper {
    display: none;
  }
  .sidebar__manager {
    display: none;
  }
}

