*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: lighten($color-dark, 75%);
  font-family: $font-text;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-normal;
  color: $color-dark;
}

i, input {
  cursor: pointer;
}

[class^="icon"] {
  cursor: pointer;
}

header {
  margin: 14px 0;
}

h1, h2 {
  font-size: 14px;
}


.p-small {
  padding: 0 15px;
}

.p-big {
  padding: 0 30px;
}

/*Component classes*/

.article-header {
  color: $font-color-dark;
  border-bottom: $border-dark-style;
  padding: 10px 0 10px 20px;
  font-weight: $font-bold;
}

.normalized-p {
  text-align: left;
  color: $font-color;
  font-weight: 600;
}

.btn {
  justify-content: center;
  flex-basis: 130px;
  text-align: center;
  margin: 40px auto 60px auto;
  padding: 10px;
  border-radius: $radius;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid;
  background-position: 0% 100%;
  background-size: 250%;
  transition: $transition;
  border-color: orange;
  color: white;
  background-image: linear-gradient(45deg, orange 50%, transparent 50%);

  &:hover {
    color: orange;
    background-position: 100% 0%;
  }
}
