$color-dark: #333;
$color-light: #fff;
$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

$font-header: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;
$font-color: lighten($color-dark, 60%);
$font-color-dark: lighten($color-dark, 30%);

$transition: all .5s;
$radius: 4px;

$base-size: 12px;
$header-size: 70px;

$header-border-style: 1px solid rgba(0, 0, 0, .2);
$border-dark-style: 1px solid rgba(0, 0, 0, .2);
$font-logo: 'Sacramento', cursive;


